<div class="show-sm">
    <div id="nav-toggle-box">
      <div id="nav-toggle-brand">
        <a href="/">{{ .Site.Title }}</a>
      </div><a data-component="toggleme" data-target="#top" href="#" id="nav-toggle"><i class="kube-menu"></i></a>
    </div>
  </div>
  <div class="hide-sm" id="top">
    <div id="top-brand">
      <a href="/" title="home"><img src="/media/logo88.jpg"></a>
    </div>
    <nav id="top-nav-main">
      <!--<ul>
       {{ $currentPage := . }}
       {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}" {{if  $currentPage.IsMenuCurrent "main" . }} class="active"{{end}}>{{ .Name }}</a></li>

	{{ if .HasChildren }} 
	{{ range .Children }}
	   <span>{{ .Name }}kkk</span> 
	{{ end }}
	{{end}}

    {{end}}
      </ul>
      -->
    {{ define "menu-item" }}
  {{ $page := .page }}
  {{ with .entry }}
    {{ if .HasChildren }}
      <div class="dropdown">
      <a class="dropbtn">{{ .Name }}</a>
	 <div class="dropdown-content">
            {{ range .Children.ByWeight }}
	        <a href="{{ .URL }}">{{ .Name }}</a><br>
            {{ end }}
      	 </div>
      </div>
    {{ else }}
      <div class="dropdown">
      <li class="{{ if $page.IsMenuCurrent "main" . }}active{{ end }}">
        <a class="nodropbtn" href="{{ .URL }}">{{ .Name }}</a>
      </li>
      </div>
    {{ end }}
  {{ end }}
{{ end }}

<ul>
  {{ $page := . }}
  {{ range .Site.Menus.main }}
    {{ template "menu-item" (dict "entry" . "page" $page) }}
  {{ end }}
</ul> 


    </nav>
    <nav id="top-nav-extra"> 
      <ul>
        {{ range .Site.Menus.extra }} 
          <li>
            <a href="{{ .Permalink }}">{{ .Name }}</a>
          </li>
        {{ end }}  
      </ul>
    </nav>
  </div>
